@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,500;0,8..144,700;1,8..144,100;1,8..144,200;1,8..144,500&display=swap');

*{
    font-family: 'Roboto Serif', serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --font-family:'Roboto Serif', serif;
    --bg-color:#ffffff;
    --color:#000000;
    --home-active-bg:#f2f2f2;
}
.d-flex{
    display: flex;
    align-items: center;
}
h1, h2, h3, h4, h5, h6{
    color: var(--color);
}
a{
    text-decoration: none;
}
::-webkit-scrollbar {
    width: 6px;
  }

   
::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 6px;
  }
body{
    overflow-x: hidden;
}
nav{
   justify-content: space-between;
   padding: 5px 18px;
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 1001;
   background-color: var(--bg-color);
}
.right-bar img:nth-child(3){
    display: none;
}
nav .left-bar{
    gap: 1.5rem;
}
nav .left-bar .fa-solid, .fa-brands{
    font-size: 24px;
    cursor: pointer;
}
.left-bar a{
    text-decoration: none;
    color: black;
}
.left-bar a:hover{
    color: black;
}
.fa-user{
    cursor: pointer;
}
.fa-brands{
    color: red;
}
nav .left-bar span{
    font-size: 18px;
    font-weight: bold;
}
.search-bar{
    border: 1px solid rgba(44, 42, 42, 0.534);
    border-radius: 70px;
    padding: 0 40px;
}
.middle-bar input{
    border: none;
    outline: none;
    width: 400px;
    padding: 10px 20px;
    border-right: 1px solid black;
}
.middle-bar img{
    width: 15px;
    height: 20px;
    margin-left: 20px;
    
}
.middle-bar .notification{
    width: 20px;
    height: 20px;
    margin-left: 20px;
}
.youtube-icon .fa-bars{
    z-index: 1001;
}
.right-bar img{
width: 24px;
margin: 0 10px;
border-radius: 50%;
cursor: pointer;
}
.right-bar .fa-solid{
    font-size: 24px;
    margin-top: -6px;
    margin-left: 10px;

}
.subscriptions{
    display: none;
}
/* End Navbar */
/* Start Sidebar */
.bg-thin-color{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100vh;
    display: none;
}
.bg-thin-color-display{
    display: block;
}
.side-bar{
    position: fixed;
    left: 0;
    top: 0;
    gap: 3rem;
    overflow-y: auto;
    height: 100vh;
    width: 15%;
    overflow-x: hidden;
    display: none;
    transition: 0.5s;
    background-color: var(--bg-color);
    z-index: 2;
    box-shadow: 9px 0px 381px -3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 9px 0px 381px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 0px 381px -3px rgba(0,0,0,0.75);
}
.navbar-item{
    align-items: center;
    gap: 1rem;
    margin: 0;
    display: flex;
    padding: 8px 18px;
    border-radius: 6px;
    margin: 8px 0;
    cursor: pointer;
}
.navbar-item img{
    font-size: 20px;
    margin-top: -10px;
    width: 28px;
    border-radius: 50%;
}
.navbar-item h5{
    font-size: 14px;
}
.navbar-item h6{
    color: var(--color);
    font-size: 12px;
    letter-spacing: 0.5px;
}
.side-bar hr{
    width: 100%;
}
.side-bar h2{
    font-size: 18px;
    margin: 10px 0;
}
.opeMenu{
    display: block;
}
.width85{
    width: 85%;
    float: right;
}

/* End Sidebar */
/* start main body */
.main-body{
    float: right;
    width: 100%;
    margin: 0;
    padding: 60px;
    overflow-y: auto;
    overflow-x: hidden;
}
.main-body .vid-rows{
    justify-content: space-between;
    gap: 1rem;
    display: flex;
    width: 100%;
}

.vid-info{
    width: 100%;
    margin: 0;
    padding: 0;
}
.main-body .columns{
    flex-basis: 30%;
}
.main-body img:nth-child(1){
    width: 100%;
}
.columns .d-flex img:nth-child(1){
    width: 50px;
    border-radius: 50%;
    height: 50px;
    margin-top: -10px;
    margin-right: 10px;
}
.columns .vid-info a{
    text-decoration: none;
    font-weight: bold;
    color: black;
    margin: 0;
}
.columns .vid-info p{
    margin: 0;
    padding: 0;
}
.vid-rows{
    margin: 24px 0;
    display: flex;
    align-items: center;

}

/* end main body */
/* start video-section */
.video-section{
    margin: 20px;
}
video{
   width: 100%;   
}
.video-section h5{
    width: 100%;
    text-align: left;
    margin-top: 10px;
}
.comment-like-section, .channel, .channel-and-subscribe{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;

}
.channel{
    gap: 10px;
    cursor: pointer;
}
.subscribe button{
    padding: 10px 20px;
    color: white;
    background: black;
    border-radius: 30px;
    border: none;
    outline: none;
    margin-left: 10px;
}
.channel p{
    margin: 20px 0;
}
.video-section .fa-regular, .video-section .fa-solid{
    font-size: 30px;
    padding: 5px 20px;
    background: rgba(0, 0, 0, 0.178);
    border-radius: 26px;
    cursor: pointer;
}
.like-dislike-section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
}
.channel img{
    width: 40px;
    border-radius: 50%;
}
.comment-section{
    display: flex;
}
.comment-section img{
    width: 40px;
    border-radius: 50%;   
}
.row .col-md-3{
    margin-top: 50px;
}
.margin-top{
    margin-top: -46px;
}
.side-video-section{
 padding: 10px;
}
.side-video-section a{
    text-decoration: none;
    color: black;
}
.side-video-section img{
width: 100%;
height: 70%;
margin-top: 30px;
}
.side-video-section p{
    font-size: 12px;
    font-weight: 300;
    padding-top: 20px;
    margin-top: 10px;
}
.side-video-section h6{
    font-size: 10px;
    font-weight: lighter;
    margin-top: -10px;
}
.side-video-section h5{
    font-size: 10px;
    font-weight: lighter;
    
}
.like-dislike-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.like-dislike-section img{
    width: 35px;
    cursor: pointer;
}
.video-section hr{
    border: 1px solid rgba(0,0,0,0.5);
}
.comment-section {
    padding-left: 80px;
    margin-top: 20px;
}
.comment-section input{
border: 0;
border-bottom: 1px solid black;
padding: 0 30px;
font-weight: light;
outline: #000000;
width: 100%;
}
.user-comment{
   padding-left: 80px; 
   margin-top: 18px;
}
.user-icon{
    display: flex;
    align-items: center;
}
.user-icon img{
    width: 35px;
    border-radius: 50%;
    margin-right: 10px;
}
.user-icon p{
    margin-top: 20px;
    font-size: 12px;
}
.user-like-dislike{
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}
.user-like-dislike img{
    width: 20px;
  
}
.user-like-dislike p{
    color: black;
    font-size: 12px;
}
/* end video-section */
/* Media Queries */
@media(max-width:748px){
    .side-bar, .search-bar, .fa-bars, .notification{
        display: none;
    }
    .search{
        display: block;
    }
    .right-bar img:nth-child(1){
        display: none;
    }
    .search-bar img{
        display: inline-block;
        width: 20px;
    }
    .youtube-icon{
        flex: 1;
    }
    .youtube-icon span{
        font-size: 12px;
    }
    .fa-youtube{
        font-size: 18px;
    }  
    .right-bar img:nth-child(2){
        width: 22px;
        margin-top: -3px;
    }
    .right-bar .fa-user{
        font-size: 18px;  
    }
    .right-bar{
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    .main-body{
        padding: 20px;
    }
    .main-body .vid-rows{
        display: flex;
        flex-direction: column;
    }
    .columns .vid-info a{
        margin: 0;
        padding: 0;
        font-size: 11px;
    }
    .columns .vid-info p{
        margin: 0;
        padding: 0;
        font-size: 10px;
    }
    .columns .d-flex img:nth-child(1){
        width: 40px;
        border-radius: 50%;
        height: 40px;
        margin-top: -10px;
        margin-right: 10px;
    }
    .comment-like-section{
        flex-direction: column;
        align-items: flex-start;
    }
    .comment-like-section button{
        padding: 4px 10px;
    }
    
    .like-dislike-section{
      margin: 0;
      justify-content: flex-start;
    }
    .comment-section{
        margin-left: 70px;
        padding: 0;
    }
    .like-dislike-section{
        margin-left: 0;
    }.like-dislike-section img{
        width: 25px;
    }
    
}
@media(max-width:900px){
    .side-bar, .fa-bars,.search-bar{
        display: none;
    }
    .middle-bar img:nth-child(2){
        display: none;
    }
    .bg-thin-color{
        display: none;
    }

}